@font-face {
	font-family: 'joane_stencilregular';
	   src: url('../fonts/joane_stencil_regular-webfont.woff2') format('woff2'),
		 url('../fonts/joane_stencil_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body{
background-image:url("../images/astronaut.png");
background-repeat: no-repeat;
background-attachment: fixed;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: black;
}

::-webkit-scrollbar-thumb {
background: #9D1AFB;
}

::-webkit-scrollbar-thumb:hover {
background: #76DBBF;
}

div#navbar{
position: fixed;
top: 0;
height: 14.5%;
width: 100%;
z-index: 3;
left: 0;
bottom: 5;
}

div#pageselector{
position: absolute;
width: 100%;
height: 100%;
z-index: 2;
background-color: black;
}

li#buttons{
width: 100px;
height: 50px;
background-color: black;
display: inline-block;
z-index: 3;
}

li a#buttons{
display: block;
color: white;
width: auto;
padding: 20px 20px 0px 0px;
text-decoration: none;
position: absolute;
font-size: 18px;
}

li a#buttons:hover{
color: rgb(118,219,191);
}


li a img{
text-decoration: none;
}

img#logo{
width: 65px;
padding: 0px 35px 10px 0px;
color: transparent;
}

ul{
display: inline-block;
z-index: 3;
}

hr#header{
opacity: 0.5;
color: white;
size: 4;
}

div#contents{
	display: flex;
	height: 520px;
	background-color: rgba(0,0,0,.5); 
	position: relative;
	z-index: 2;
}

.lobbytext{
	line-height: 0px;
	background-color: black, opacity(0.5);
	vertical-align: bottom;
	margin-left: 10px;
	z-index: 2;
}

/* Gallery */
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 28px;
  }
  @media only screen and (max-width: 735px) {
	.gallery {
	  gap: 3px;
	}
  }
  .gallery-item {
	position: relative;
  }
  .gallery-item img {
	width: 75%;
	height:auto;
	display: block;
  }
  .gallery-item .media-icon {
	position: absolute;
	top: 0px;
	right: 0px;
  }